@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');
*{
    margin: 0px;
   
    font-family:Noto Sans JP;
    color: #000000;
}

 body{
   background-color: #e0e9e7 ;
   font-family:Noto Sans JP;
   
   

} 

nav{
    display: flex;
   background-color: #05386B ; 
   text-align: justify;
   width: 100%;
    position: fixed; 
      
}

nav a{    
    color:#e0e9e7;
    text-decoration: none;
    padding: 5px;
    padding-right: 15px;
    margin:  5px;
    font-size: 20px;
   
}

.about{
    margin-top: 120px;
    margin-left: 160px;
    margin-right:160px ;
    text-align: center;
    
    font-size: 20px;
}


 .about img{
    background-color: black;
margin-left: auto;
margin-right: auto;
display: block;
border-radius: 100px;
    margin-top:  32px;
    margin-bottom: 32px;
    height: 200px;
    width: 200px;
    object-fit: cover;
}

.about p{
    margin-top: 16px;
    font-size: 20px;
}

.qualification{
    /* margin-top:  8px;  */
    padding-top: 50px;
    font-size: 20px;
    background-color: #e3ecea;
    
    

}
.qualification img{
    background-color: black;
margin-left: auto;
margin-right: auto;
display: block;
border-radius: 100px;
    margin-top:  32px;
    margin-bottom: 32px;
    height: 200px;
    width: 200px;
    object-fit: cover;
}
.qualification h1{
    margin-bottom: 32px; 
    
    text-align: center;

}
#content{
    display: flex;
    justify-content: center;
}


.skill{
    text-align: center;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
   

}
 .skillone{
    margin-bottom: 32px; 
    text-align: center;
    padding-top: 50px;
    font-size: 40px;
   
    
}


.skill div{
   
    font-size: 20px;
  
    background-color: #e3ecea;
    border-radius: 0px 8px 8px 0px;
    
    padding-top: 89.5px;
    padding-bottom: 90px;
    padding-right: 20px ;
    margin-top: auto;
    margin-bottom: auto;
} 
.skill img{
    height: 368px;
  
    border-radius: 8px 0px 16px 0px;
    
}
.skill th{
    padding-bottom: 20px;
    padding-left: 50px;
padding-right: 50px;    
}
#project{
    font-size: 40px;
    text-align: center;
    padding-top: 80px;
    background-color:#e3ecea;
    padding-bottom: 32px; 

}
.projects{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    background-color:#e3ecea;
}

.projects img{
    height: 300px;
    width: 300px;
    object-fit: cover;
    border-radius: 8px 0px 16px 0px;
    background-color:#e3ecea;
    
}
.projects div{
    margin-left: 75px;
    background-color:#e3ecea;
    margin-right: 75;
    margin-bottom:50px ;
}
.footer{
    display: flex;
    background-color:#05386B ;
    justify-content: space-between;
  
}
.footer div{    
    color:#e0e9e7;   
    padding: 5px;
    padding-right: 15px;
    margin:  5px; 
    
}
.copyright{
    background-color:#05386B ;
    color:#e0e9e7; 
    text-align: center;
    padding-bottom: 8px;
}
